<div class="login-main">
    <h2>Please enter user password</h2>
    <div class="login-table">
        <p>@if(counter <= 0) { {{ text() }} } 
            @else { {{ star() }} } <span>
                <button type="reset" (click)="onClear()">X</button>
                </span></p>
    </div>

    <div id="numbers">
        <ul>
            @for (number of numbers; track number.id) {
            <li>
                <app-number [number]="number" (click)="onClick(number)"></app-number>
            </li>
            }
        </ul>
    </div>


    <form (ngSubmit)="onSubmit()">
        <p id="input">
            <app-button title="Login"></app-button>
        </p>
    </form>
</div>