.tables-main {
    display: flex;
    justify-content: space-between;
}

.table-number ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
}

.table-number li {
    min-width: 11.5em;
    background:  #4754b2;
    border: 2px solid white;
    text-align: start;
    padding: 0.3em 0.3em;
}

.table-number a {
    color: inherit;
    text-decoration: none;
    padding: 0.5em;
    flex-grow: 1;
}

.table-number a span {
   float: right;
}

.table-number li:hover {
    color: rgb(39, 31, 31);
    background: rgb(102, 144, 181);
}

.no-tables {
    font-size: 2em;
    text-align: center;
}

.table-input {
    text-align: center;
}

.login-table {
    border: 2px solid white;
    text-align: center; 
}

.login-table p {
    min-width: 11.8em;
}

.login-table span {
    border: 1px solid white;
    border-radius: 2em;
    background: rgb(162, 153, 153);
    margin-left: 0.7em;
    padding: 0.3em;
}

.login-table span button {
    color: white;
    all: unset;
}

#numbers {
    max-width: 11.8em;
    margin: 0.8em 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: ruby;
  }
ul li {
    margin: 0.145em;
}

.button {
    background-color: rgb(162, 153, 153);
    border: none;
    padding: 0.7em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#error {
    max-width: 11.8em;
}