<div class="tables-main">
    <div>
        <div class="table-number">
            @if(data.length > 0) {
            <ul>
                @for (item of data; track item.id) {
                <li routerLink="/table">
                    <a>Table {{ item.number }}<span>{{ sum() }}€</span></a>
                </li>
                }
            </ul>
            }
        </div>
        <div class="no-tables">
            @if(data.length === 0) {
            <p>!!! There are no open tables at the moment !!!</p>
            }
        </div>
    </div>
    <div class="table-input">
        <div class="login-table">
            <p>@if(counter <= 0) { {{ tableInput() }} } @else { {{ currentNumber() }} } <span>
                    <button type="reset" (click)="onClear()">X</button>
                    </span></p>
        </div>
        <div id="numbers">
            <ul>
                @for (number of numbers; track number.id) {
                <li>
                    <app-number [number]="number" (click)="onClick(number)"></app-number>
                </li>
                }
            </ul>
        </div>
        <form (ngSubmit)="onSubmit()">
            <p class="input">
                <app-button title="Submit"></app-button>
            </p>
        </form>
        @if(error()) {
        <p id="error">{{ error() }}</p>
        }
    </div>
</div>