<div class="tables-main">
    <div>
        <app-table></app-table>
    </div>
    <div class="table-input">
        <div class="login-table">
            <p>@if(counter <= 0) { {{ tableInput() }} } 
                @else { {{ currentNumber() }} } <span>
                    <button type="reset" (click)="onClear()">X</button>
                    </span></p>
        </div>
        <div id="numbers">
            <ul>
                @for (number of numbers; track number.id) {
                <li>
                    <app-number [number]="number" (click)="onClick(number)"></app-number>
                </li>
                }
            </ul>
        </div>
        <form (ngSubmit)="onSubmit()">
            <p id="input">
                <app-button title="Submit"></app-button>
            </p>
        </form>
        @if(error()) {
            <p id="error">{{ error() }}</p>
        }
    </div>
</div>
