.tables-main {
    display: flex;
    justify-content: space-between;
}

.table-input {
    text-align: center;
}

.login-table {
    border: 2px solid white;
    text-align: center; 
}

.login-table p {
    min-width: 11.8em;
}

.login-table span {
    border: 1px solid white;
    border-radius: 2em;
    background: rgb(162, 153, 153);
    margin-left: 0.7em;
    padding: 0.3em;
}

.login-table span button {
    color: white;
    all: unset;
}

#numbers {
    max-width: 11.8em;
    margin: 0.8em 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: ruby;
  }
ul li {
    margin: 0.145em;
}

.button {
    background-color: rgb(162, 153, 153);
    border: none;
    padding: 0.7em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
