.action {
    background-color: #4754b2; 
    border: none;
    border-radius: 45%;
    color: white;
    padding: 0.75em 1.6em;
    margin: 2em 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
  }