.table-main {
    display: flex;
    justify-content: space-between;
    min-height: 22.5em;
}

.table-content {
    width: 75%;
    padding: 1em;
}

.table-number, 
.sum{
    font-size: 1.5em;
}

.sum {
    position: absolute;
    top: 19em;
    left: 12.5em;
}

#items {
    max-width: 14.3em;
    margin: 0.8em 0;
    border: 2px solid white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    margin: 0.145em;
}

.input {
    text-align: center;
    border-top: 2px solid white;
    margin-top: -0.05em;
}