<div class="table-main">
    <div class="table-content">
        <p class="table-number">Table {{ tableNumber() }}</p>
        <ul>
            @for(tableItem of tableItems; track tableItem.id) {
            {{ tableItem.quantity }}*  {{ tableItem.name }}  {{ tableItem.quantity * tableItem.value }}€<br>
            }
        </ul>
        <p class="sum">Total sum: {{ tableSum() }}€</p>
    </div>
    <div id="items">
        <ul>
            @for (item of items; track item.id) {
            <li>
                <app-item [item]="item" (click)="onClick(item)"></app-item>
            </li>
            }
        </ul>
        <!-- <form (ngSubmit)="onSubmit()"> -->
            <p class="input">
                <app-button title="Submit" (click)="onSubmit()"></app-button>
            </p>
        <!-- </form> -->
    </div>
</div>